// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// Global
body {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  color: $text-color-dark;
}
nav,
.status-bar,
main,
section,
footer {
  display: flex;
  justify-content: center;
}

section {
  background-color: $body-grey;
  padding: 2rem 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.6rem;
}
