$text-color-dark: #333;
$text-color-light: rgb(228, 228, 228);
$text-color-status: rgb(20, 214, 20);

$primary-color: rgb(158, 113, 209);
$body-grey: rgb(247, 247, 247);
$light-grey: rgb(252, 252, 252);
$grey: rgb(225, 225, 225);
$delete-color: crimson;
