.book-list {
  ul {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  li.book {
    display: flex;
    background-color: $light-grey;
    border: 1px solid white;
    transition: all 0.3s ease;
    overflow: hidden;

    .book-info {
      position: relative;
      flex: 1;
      padding: 1rem 2rem;
      text-transform: capitalize;

      .book-title {
        font-size: clamp(1.8rem, 2.5vw, 2.2rem);
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .book-author {
        font-size: clamp(1.4rem, 2.5vw, 1.6rem);
        color: lighten($text-color-dark, 50%);
      }

      .book-delete {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translate(5rem, -50%);
        color: $delete-color;
        cursor: pointer;
        transition: transform 0.3s ease;
      }
    }
  }

  li.book.active {
    border-color: $delete-color;
    color: $delete-color;

    .book-author {
      color: $delete-color;
    }

    .book-delete {
      transform: translate(0, -50%);
    }
  }
  .book:hover {
    .book-highlight {
      width: 1rem;
    }
  }
}
